  h{
    font-family: Helvetica, sans-serif;
  }
  
  body{
    font-family: Helvetica, sans-serif;
    background-color: #FAFAFA;
  }
  
  .header{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header-small{
    display: none;
  }

  .header-big .header-big-left{
    float: left;
  }
  
  .header-big .header-big-left .nav-icon{
    width: 160px;
    height: auto;
  }
  
  .header-big .brand{
    margin: auto;
  }
  
  .header-big .brand .brand-1{
    font-family: 'Inclusive Sans', sans-serif;
    font-size: x-large;
    font-weight: 600;
  }
  
  .header-big .brand .brand-2{
    font-size: x-large;
    color: #3bc801;
  }
  
  .header-big .nav-renders{
    position: relative;
    float: right;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .header-big .nav-renders .nav-txt{
    text-decoration: none;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
  }
  .header-big .nav-renders .nav-txt:hover{
    color: #3bc801;
  }
  .Home-main{
    margin-top: 80px;
  }
  .Home-main .Home-left{
    float: left;
    margin-top: 120px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .Home-main .Home-left .Home-left-b{
    color: #DD0093;
  }
  .Home-main .Home-right .Home-right-img{
    height: 700px;
    width: auto;
  }
  .Home-form{
    background-color: #D2EEC5;
    padding: 40px;
    margin: 40px;
    text-align: left;
    border-radius: 30px;
  }
  .Home-form-h{
    float: right;
    width: 30%;
    background-color: #DD0093;
    color: #FAFAFA;
    padding: 20px;
    border-radius: 30px;
  }
  .btn-pop{
    background-color: #DD0093;
    border: none;
  }
  .info{
    margin: 50px;
    padding: 50px;
  }
  .info .info-row{
    margin: 20px;
  }
  .info .info-row .info-col1{
    border-radius: 40px;
    background-color: #DD0093;
    color: #FAFAFA;
    padding: 60px;
    margin: 30px;
  }
  .info .info-row .info-col2{
    border-radius: 40px;
    background-color: #D2EEC5;
    color: #000000;
    padding: 60px;
    margin: 30px;
  }
  .info .info-row .info-col2 .info-txt{
    font-size: larger;
  }
  .stats{
    margin-top: 50px;
  }
  .stats .stats-top{
    width: 1000px;
    height: auto;
    margin: 30px;
  }
  .stats .stats-down{
    width: 400px;
    margin: 40px;
  }
  .stats .stats-txt{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 150px;
    color: #DD0093;
  }
  .footer{
    background-color: #D2EEC5;
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  
  @media (max-width: 991px){
    .header-big{
      display: none;
    }
  
    .header-small{
      display: inline;
      margin: 20px;
    }
  
    .header-small .nav-icon{
      width: 40px;
      height: auto;
    }
  
    .header-small .icon-left{
      margin-left: 20px;
      float: left;
    }
  
    .header-small .icon-right{
      margin-right: 20px;
      float: right;
    }
  
    .header-small .nav-txt{
      display: block;
      margin: 10px;
      color: var(--black);
    }
  }